     <div id="wrapper">
               
        <act-header></act-header>>

        <div id="content">
            <div class="container-fluid" style="min-height: 100%">
                <div class="row-fluid">
                    <div class="col-lg-2 sidebar">
                        <div class="leftPanel">
                            
                            <search-app (nameFilterNotify)='onNameFilterNotify($event)'></search-app>
                            
                            <div class="filter">
                                
                                <act-filter [filters]='filters' (filterChangeEvent)='filterChangeEvent($event)'></act-filter>
                                
                                <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#titleFilter" aria-expanded="false" aria-controls="collapseTwo">
                                                  JOB TITLE <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                                </a>
                                                 
                                            </h4>
                                        </div>
                                        <div id="titleFilter" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                <div class="locationFilter">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> Store Incharge
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> Supervisor
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> Sales Executive
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> Cashier
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> Accountant
                                                        </label>
                                                    </div>
                                                    <a href="" class="more"><i class="fa fa-plus" aria-hidden="true"></i> More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#typeFilter" aria-expanded="false" aria-controls="collapseThree">
                                      Job Type <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                    </a>
                                     
                                  </h4>
                                        </div>
                                        <div id="typeFilter" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                <div class="locationFilter">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> Full-Time
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> Part-Time
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> Contract
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> Temporary
                                                        </label>
                                                    </div>
                                                    <a href="" class="more"><i class="fa fa-plus" aria-hidden="true"></i> More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="panel-group" id="accordion4" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFour">
                                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#statusFilter" aria-expanded="false" aria-controls="collapseTwo">
                                  Status <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                </a>
                                 
                              </h4>
                                        </div>
                                        <div id="statusFilter" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                                            <div class="panel-body">
                                                <div class="locationFilter">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> Review Application
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> Verbal Pre-Screen
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> Interview
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> Interview Feedback
                                                        </label>
                                                    </div>
                                                    <a href="" class="more"><i class="fa fa-plus" aria-hidden="true"></i> More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="toggleMenu">
                            <a href="" id="menu-toggle"> <i class="fa fa-filter" aria-hidden="true"></i></a>
                        </div>
                    <div class="col-lg-10 col-lg-offset-2 col-xs-12 contantArea">
                        <act-tags [filterEvent]='filterEvent'></act-tags>

                        <applicant-cards [nameFilter]='nameFilter'></applicant-cards>
                        
                        <div class="clearfix"></div>
                        <div class="row-fluid">
                            <div class="contentLoader">
                                <img src="assets/images/loader.gif" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <act-footer></act-footer>>
    </div>