        <footer>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-lg-6 col-sm-6 col-xs-12 copyright">&copy; 2016, Talent Q. All rights reserved</div>
                    <div class="col-lg-6 col-sm-6 col-xs-12 poweredby">
                        <div class="pull-right">
                            <label>Powered by</label>
                            <img src="assets/images/acl_logo.png" width="120" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </footer>