                        <div *ngFor="let applicant of applicants | applicantFilter:nameFilter" class="col-lg-4 col-sm-6 col-xs-12">
                            <div class="card new">
                                <div class="cardHeader">
                                    <div class="cardHeaderLeft">
                                        <img src="assets/images/neumannpeter.png" alt="">
                                    </div>
                                    <div class="cardHeaderRight">
                                        <div class="name"><a href="applicant.html">{{applicant.name}}</a></div>
                                        <div class="idPlace">ID #{{applicant.id}} | {{applicant.city}}-{{applicant.state}}</div>
                                    </div>
                                    <div class="btn-group cardOptions">
                                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></a>
                                        <ul class="dropdown-menu  dropdown-menu-right">
                                            <li><a href="#">Store In-charge</a></li>
                                            <li><a href="#">Part Time</a></li>
                                            <li><a href="#">Review</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="cardBottom">
                                    <div class="jobTitle">
                                        <div class="title">Job Title</div>
                                        <div class="subtext">Store In-charge</div>
                                    </div>
                                    <div class="jobType">
                                        <div class="title">Job Type</div>
                                        <div class="subtext">Part Time </div>
                                    </div>
                                    <div class="status">
                                        <div class="title">
                                            <div class="jobStatusConut">
                                                <div class="c100 p0 small">
                                                    <span>0</span>
                                                    <div class="slice">
                                                        <div class="bar"></div>
                                                        <div class="fill"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="subtext">Review</div>
                                    </div>
                                </div>
                            </div>
                        </div>