    <div id="wrapper">
        <nav class="navbar navbar-default marBotNull">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="images/bestbuy-logo.jpg" alt=""></a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Applications</a></li>
                        <li><a href="candidate.html">Candidate</a></li>
                        <li><a href="#">Requestition</a></li>
                        <li><a href="#">Reports</a></li>
                        <li><a href="#">Administration</a></li>
                        <li class="userSetting dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="images/canarymr.png" alt=""></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">Settings</a></li>
                                <li><a href="index.html">Logout</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

        <div class="fullWidth applicantHeader profile">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-lg-3 col-sm-3">
                        <div class="backBtn"><a href="candidate.html"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></div>
                        <div class="title">Position</div>
                        <div class="subtext">Shift Supervisior</div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <div class="title">Location</div>
                        <div class="subtext">11438 - Bosten</div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <div class="title">Job Type</div>
                        <div class="subtext">Full Time</div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <div class="expireDays">
                            <div>Remaining Days <span>30</span></div>
                            <div class="days">Expire on 08 May 2016</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fullWidth applicantHeader userDetails">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-lg-3 col-sm-3">
                        
                        <div class="applicantImage"><img src="images/applicant.jpg" alt=""></div>
                        <div class="title">Name</div>
                        <div class="subtext applicantName">Michael CJ</div>
                        <div><a href="" class="viewProfileLink">View Profile</a></div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <div class="title">Address</div>
                        <div class="subtext">Manchester CT, Newyark,
                            <div>Londan</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <div class="title">Londan</div>
                        <div class="subtext">+91 8212590024
                            <div>michael@gmail.com</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                    </div>
                </div>
            </div>
        </div>

        <div id="content">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="application">
                        <div class="applicationSteps">
                            <div class="step-col-1 processDate">
                                <div class="date">08</div>
                                <div class="month">April 16</div>
                            </div>
                            <div class="step-col-2">
                                <div class="processIndicator done">&nbsp;</div>
                            </div>
                            <div class="step-col-3">
                                <div class="panel-group" id="reviewAccordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#reviewAccordion" href="#review" aria-expanded="true" aria-controls="collapseOne">
                                          Review Application
                                        </a>
                                        <div class="reviewContent shortContent text">Move to Verbal Pre-Screen</div>
                                      </h4>
                                            <div class="reviewContent shortContent text SC_Right">
                                                <div>by Sugantha HR-Executive, 11:20 am</div>
                                            </div>

                                            <div class="btn-group applicationProcessOption">
                                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></a>
                                                <ul class="dropdown-menu  dropdown-menu-right">
                                                    <li><a href="#">Edit</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div id="review" class="panel-collapse collapse in process" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <ul>
                                                    <li>
                                                        <input type="radio" id="review-option-1" name="selector">
                                                        <label for="review-option-1">Move to Verbal Pre-Screen</label>
                                                        <div class="check"></div>
                                                    </li>

                                                    <li>
                                                        <input type="radio" id="review-option-2" name="selector">
                                                        <label for="review-option-2">Availablity does not meet store needs</label>
                                                        <div class="check">
                                                            <div class="inside"></div>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <input type="radio" id="review-option-3" name="selector">
                                                        <label for="review-option-3">Negative Former patner employment history - PCC contacter</label>
                                                        <div class="check">
                                                            <div class="inside"></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <input type="radio" id="review-option-4" name="selector">
                                                        <label for="review-option-4">Not Selected</label>
                                                        <div class="check">
                                                            <div class="inside"></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <input type="radio" id="review-option-5" name="selector">
                                                        <label for="review-option-5">Postition no longer avaliable</label>
                                                        <div class="check">
                                                            <div class="inside"></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="clearfix"></div>
                                                <div class="processActionBn">
                                                    <div><a href="javascript:void(0);" class="btn">Done</a> <a href="javascript:void(0);" class="cancel">Cancel</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="applicationSteps">
                            <div class="step-col-1 processDate">
                                <div class="date">09</div>
                                <div class="month">April 16</div>
                            </div>
                            <div class="step-col-2">
                                <div class="processIndicator done">&nbsp;</div>
                            </div>
                            <div class="step-col-3">
                                <div class="panel-group" id="verbalAccordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#verbalAccordion" href="#verbal" aria-expanded="true" aria-controls="collapseOne">
                                          Verbal Pre-Screen
                                        </a>
                                         <div class="verbalContent shortContent text">Move to Interview</div>
                                      </h4>
                                            <div class="verbalContent shortContent text SC_Right">
                                                <div>by Sugantha HR-Executive, 12:15 pm</div>
                                            </div>
                                            <div class="btn-group applicationProcessOption">
                                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></a>
                                                <ul class="dropdown-menu  dropdown-menu-right">
                                                    <li><a href="#">Edit</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div id="verbal" class="panel-collapse collapse in process" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <ul>
                                                    <li>
                                                        <input type="radio" id="verbal-option-1" name="selector">
                                                        <label for="verbal-option-1">Move to Interview</label>
                                                        <div class="check"></div>
                                                    </li>

                                                    <li>
                                                        <input type="radio" id="verbal-option-2" name="selector">
                                                        <label for="verbal-option-2">Availablity does not meet store needs</label>
                                                        <div class="check">
                                                            <div class="inside"></div>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <input type="radio" id="verbal-option-3" name="selector">
                                                        <label for="verbal-option-3">Unable to contact candidate (Send to Pool)</label>
                                                        <div class="check">
                                                            <div class="inside"></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <input type="radio" id="verbal-option-4" name="selector">
                                                        <label for="verbal-option-4">Compensation: Candidate wants more money tan job pays (Send to Pool)</label>
                                                        <div class="check">
                                                            <div class="inside"></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <input type="radio" id="verbal-option-5" name="selector">
                                                        <label for="verbal-option-5">Schedule: Candidate uable/unwilling to work requried hours/shifts (Send to Pool)</label>
                                                        <div class="check">
                                                            <div class="inside"></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <input type="radio" id="review-option-6" name="selector">
                                                        <label for="review-option-6">Dress code: Candidate unwilling to adhere to dress code (Send to Pool)</label>
                                                        <div class="check">
                                                            <div class="inside"></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <input type="radio" id="verbal-option-7" name="selector">
                                                        <label for="verbal-option-7">Job duties: Candidate unwilling to perform certain job duties (Send to Pool)</label>
                                                        <div class="check">
                                                            <div class="inside"></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <input type="radio" id="verbal-option-8" name="selector">
                                                        <label for="verbal-option-8">Location: Candidate unable/unwilling to work at this location (Send to Pool)</label>
                                                        <div class="check">
                                                            <div class="inside"></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <input type="radio" id="verbal-option-9" name="selector">
                                                        <label for="verbal-option-9">Found job elsewhere: Candidate not interersted (Send to Pool)</label>
                                                        <div class="check">
                                                            <div class="inside"></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <input type="radio" id="verbal-option-10" name="selector">
                                                        <label for="verbal-option-10">Other reasons: Candidate not interested (Send to Pool)</label>
                                                        <div class="check">
                                                            <div class="inside"></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="clearfix"></div>
                                                <div class="processActionBn">
                                                    <div><a href="javascript:void(0);" class="btn">Done</a> <a href="javascript:void(0);">Cancel</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="applicationSteps">
                            <div class="step-col-1 processDate">
                                <div class="date">11</div>
                                <div class="month">April 16</div>
                            </div>
                            <div class="step-col-2">
                                <div class="processIndicator open">&nbsp;</div>
                            </div>
                            <div class="step-col-3">
                                <div class="panel-group" id="interviewAccordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#interviewAccordion" href="#interview" aria-expanded="true" aria-controls="collapseOne">
                                          Interview
                                        </a>
                                        <div class="interviewContent shortContent text">Move to Interview</div>
                                      </h4>
                                           <div class="interviewContent shortContent text SC_Right">
                                                <div>by Sugantha HR-Executive, 02:45 pm</div>
                                            </div>
                                            <div class="btn-group applicationProcessOption">
                                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></a>
                                                <ul class="dropdown-menu  dropdown-menu-right">
                                                    <li><a href="#">Edit</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div id="interview" class="panel-collapse collapse in process" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="heading">First Level</div>
                                                    </div>
                                                </div>
                                                <div class="row interviewRows">
                                                    <div class="col-lg-2 col-sm-3">
                                                        <div class="title">Date</div>
                                                        <div class="subtext">11/04/2016</div>
                                                    </div>
                                                    <div class="col-lg-2 col-sm-3">
                                                        <div class="title">Time</div>
                                                        <div class="subtext">11:00 am</div>
                                                    </div>
                                                    <div class="col-lg-2 col-sm-3">
                                                        <div class="title">Scheduled By</div>
                                                        <div class="subtext">Sugantha</div>
                                                    </div>
                                                    <div class="col-lg-2 col-sm-3">
                                                        <div class="title">Taken By</div>
                                                        <div class="subtext">Ashwin</div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="heading">Second Level</div>
                                                    </div>
                                                </div>
                                                <div class="row interviewRows">
                                                    <div class="col-lg-2 col-sm-3">
                                                        <div class="title">Date</div>
                                                        <div class="subtext">12/04/2016</div>
                                                    </div>
                                                    <div class="col-lg-2 col-sm-3">
                                                        <div class="title">Time</div>
                                                        <div class="subtext">02:45 pm</div>
                                                    </div>
                                                    <div class="col-lg-2 col-sm-3">
                                                        <div class="title">Scheduled By</div>
                                                        <div class="subtext">Sugantha</div>
                                                    </div>
                                                    <div class="col-lg-2 col-sm-3">
                                                        <div class="title">Taken By</div>
                                                        <div class="subtext">Udhay</div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="heading">Third Level</div>
                                                    </div>
                                                </div>
                                                <div class="row interviewRows">
                                                    <div class="col-lg-2 col-sm-3">
                                                        <div class="title">Date</div>
                                                        <div class="subtext">13/04/2016</div>
                                                    </div>
                                                    <div class="col-lg-2 col-sm-3">
                                                        <div class="title">Time</div>
                                                        <div class="subtext">12:15 pm</div>
                                                    </div>
                                                    <div class="col-lg-2 col-sm-3">
                                                        <div class="title">Scheduled By</div>
                                                        <div class="subtext">Sugantha</div>
                                                    </div>
                                                    <div class="col-lg-2 col-sm-3">
                                                        <div class="title">Taken By</div>
                                                        <div class="subtext">Rajesh</div>
                                                    </div>
                                                </div>

                                                <div class="clearfix"></div>
                                                <div class="processActionBn">
                                                    <div><a href="javascript:void(0);" class="btn">Done</a> <a href="javascript:void(0);">Cancel</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="applicationSteps">
                            <div class="step-col-1 processDate">
                                <div class="date"></div>
                                <div class="month"></div>
                            </div>
                            <div class="step-col-2">
                                <div class="processIndicator">&nbsp;</div>
                            </div>
                            <div class="step-col-3">
                                <div class="panel-group disable" id="feedbackAccordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#feedbackAccordion" href="#feedback" aria-expanded="true" aria-controls="collapseOne">
                                          Interview Feedback
                                        </a>
                                      </h4>
                                            <div class="btn-group applicationProcessOption">
                                                <a href="javascript:void(0)" class="dropdown-toggle disable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></a>
                                                <ul class="dropdown-menu  dropdown-menu-right">
                                                    <li><a href="#">Edit</a></li>
                                                    <li><a href="#">View</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div id="feedback" class="panel-collapse collapse process" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">

                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="applicationSteps">
                            <div class="step-col-1 processDate">
                                <div class="date"></div>
                                <div class="month"></div>
                            </div>
                            <div class="step-col-2">
                                <div class="processIndicator">&nbsp;</div>
                            </div>
                            <div class="step-col-3">
                                <div class="panel-group disable" id="offerAccordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#offerAccordion" href="#offer" aria-expanded="true" aria-controls="collapseOne">
                                          Offer
                                        </a>
                                      </h4>
                                            <div class="btn-group applicationProcessOption">
                                                <a href="javascript:void(0)" class="dropdown-toggle disable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></a>
                                                <ul class="dropdown-menu  dropdown-menu-right">
                                                    <li><a href="#">Edit</a></li>
                                                    <li><a href="#">View</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div id="offer" class="panel-collapse collapse process" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">

                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="applicationSteps">
                            <div class="step-col-1 processDate">
                                <div class="date"></div>
                                <div class="month"></div>
                            </div>
                            <div class="step-col-2">
                                <div class="processIndicator">&nbsp;</div>
                            </div>
                            <div class="step-col-3">
                                <div class="panel-group disable" id="conditionalAccordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#conditionalAccordion" href="#conditional" aria-expanded="true" aria-controls="collapseOne">
                                          Conditional Offer Extend
                                        </a>
                                      </h4>
                                            <div class="btn-group applicationProcessOption">
                                                <a href="javascript:void(0)" class="dropdown-toggle disable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></a>
                                                <ul class="dropdown-menu  dropdown-menu-right">
                                                    <li><a href="#">Edit</a></li>
                                                    <li><a href="#">View</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div id="conditional" class="panel-collapse collapse process" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">

                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="applicationSteps">
                            <div class="step-col-1 processDate">
                                <div class="date"></div>
                                <div class="month"></div>
                            </div>
                            <div class="step-col-2">
                                <div class="processIndicator">&nbsp;</div>
                            </div>
                            <div class="step-col-3">
                                <div class="panel-group disable" id="initiateAccordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#initiateAccordion" href="#initiate" aria-expanded="true" aria-controls="collapseOne">
                                          Initiate Background Check
                                        </a>
                                      </h4>
                                            <div class="btn-group applicationProcessOption">
                                                <a href="javascript:void(0)" class="dropdown-toggle disable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></a>
                                                <ul class="dropdown-menu  dropdown-menu-right">
                                                    <li><a href="#">Edit</a></li>
                                                    <li><a href="#">View</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div id="initiate" class="panel-collapse collapse process" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">

                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="applicationSteps">
                            <div class="step-col-1 processDate">
                                <div class="date"></div>
                                <div class="month"></div>
                            </div>
                            <div class="step-col-2">
                                <div class="processIndicator">&nbsp;</div>
                            </div>
                            <div class="step-col-3">
                                <div class="panel-group disable" id="declineAccordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#declineAccordion" href="#decline" aria-expanded="true" aria-controls="collapseOne">
                                          Offer/Decline
                                        </a>
                                      </h4>
                                            <div class="btn-group applicationProcessOption">
                                                <a href="javascript:void(0)" class="dropdown-toggle disable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></a>
                                                <ul class="dropdown-menu  dropdown-menu-right">
                                                    <li><a href="#">Edit</a></li>
                                                    <li><a href="#">View</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div id="decline" class="panel-collapse collapse process" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">

                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="applicationSteps">
                            <div class="step-col-1 processDate">
                                <div class="date"></div>
                                <div class="month"></div>
                            </div>
                            <div class="step-col-2">
                                <div class="processIndicator">&nbsp;</div>
                            </div>
                            <div class="step-col-3">
                                <div class="panel-group disable" id="onboardingAccordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#onboardingAccordion" href="#onboarding" aria-expanded="true" aria-controls="collapseOne">
                                          Onboarding
                                        </a>
                                      </h4>
                                            <div class="btn-group applicationProcessOption">
                                                <a href="javascript:void(0)" class="dropdown-toggle disable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></a>
                                                <ul class="dropdown-menu  dropdown-menu-right">
                                                    <li><a href="#">Edit</a></li>
                                                    <li><a href="#">View</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div id="onboarding" class="panel-collapse collapse process" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">

                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-lg-6 col-sm-6 col-xs-12 copyright">&copy; 2016, Talent Q. All rights reserved</div>
                    <div class="col-lg-6 col-sm-6 col-xs-12 poweredby">
                        <div class="pull-right">
                            <label>Powered by</label>
                            <img src="images/acl_logo.png" width="120" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>